    <!-- FIRST SECTION -->
    <div class="background-container" id="background">
        <div class="topblocker" style="background-color: transparent; height: 300px;"></div>
        <div class="container mt-5 text-center" style="font-size: 2rems;">
            <h1 class="mt-5" id="companyName">COMPANY NAME</h1>
            <h5 id="companyDetails">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique iste dicta minus veniam qui praesentium sequi vitae tempora a, suscipit hic et, cupiditate laborum, beatae nostrum! Repellat debitis ratione vel.</h5>
        </div>
    </div>