    <!-- SECOND SECTION -->
    <div class="container"  id="background2">
        <div class="row">
        <div class="col-lg-6 col-sm-12 mt-4 cardSection1" id="cardSection1">
            <div class="card p-5 card-paragraph">
                <h4 class="mt-xl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nihil ab eum ducimus voluptates voluptate necessitatibus doloribus impedit amet alias reprehenderit enim quo nostrum eveniet, esse non sint animi inventore.</h4>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-4 cardSection2" id="cardSection2">
            <div class="card p-5 card-paragraph">
                <h4 class="mt-xl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sunt ratione illum error dignissimos ipsa exercitationem facilis laboriosam. Necessitatibus repudiandae provident doloremque laborum fuga incidunt quibusdam qui recusandae cum in.</h4>
            </div>
        </div>
        </div>
     </div>