<div class="text-light p-sm-2 p-xl-1 p-2" id="thirdSection">
    <div class="container">
    <div class="row">
        <div class="col-3 d-none d-xl-block">
            <img class="mt-5" src="https://th.bing.com/th/id/R.a7fd722ffa6c951b96eb96b65e77a608?rik=MsTnofqEVEEYAA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fbusiness-hd-png-business-women-hd-free-png-image-3200.png&ehk=Q8loxjvHgSGn1liOvi6FxMj0%2bLKYakzsGhyZLrbjqwk%3d&risl=1&pid=ImgRaw&r=0" alt="" width="200px">
        </div>
        <div class="col-xl-9 thirdSectionPar">
            <p class="mt-xl-5"><em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ea consequatur ex illum architecto, odio, debitis voluptatibus dolorem magni, quis asperiores eos ab soluta est fuga eveniet sequi delectus cum.</em></p>
            <p>-Name</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-9 thirdSectionPar">
            <p class="mt-xl-5"><em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ea consequatur ex illum architecto, odio, debitis voluptatibus dolorem magni, quis asperiores eos ab soluta est fuga eveniet sequi delectus cum.</em></p>
            <p>-Name</p>
        </div>
        <div class="col-3 d-none d-xl-block">
            <img class="mt-5" src="https://th.bing.com/th/id/R.c8a22a441b89da3d11dcbfc2b6ee6a08?rik=xrxU38Uh%2b2L4CA&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f7%2fBusiness-PNG-Transparent.png&ehk=mM8Qxl3ooO%2f3XgD903P3HCA5MMKjZ%2bN7VjgtK9jTd88%3d&risl=&pid=ImgRaw&r=0" alt=""  width="200px">
        </div>
    </div>
</div>
</div>