
<%- include('partials/header')%>
<%- include('partials/navigation')%>
<%- include('partials/topblocker')%>

<div style="height: 200px; background-color:  #2C3093; color: white;">
    <h1 class="text-center pt-5">CONTACTS</h1>
    <p class="text-center d-none d-xl-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita modi porro quas ipsa magnam totam eaque, quod accusamus odio ipsum alias. Harum ipsum reprehenderit voluptatem voluptas expedita, quaerat aut unde!</p>
</div>
<div class="bg-light" style="height: 400px;" id="contactSection">
<div class="row">
    <div class="col-8 col-xl-6 d-flex" style="height: 400px;" id="contact1">
        <tr>
            <td>
                <img class="d-none d-xl-block" src="https://static.vecteezy.com/system/resources/previews/022/484/186/original/friendly-and-approachable-business-women-welcoming-and-trustworthy-models-for-corporate-media-transparent-background-free-png.png" alt="" width="500px">
                <img class="d-none d-sm-block d-xl-none" src="https://static.vecteezy.com/system/resources/previews/022/484/186/original/friendly-and-approachable-business-women-welcoming-and-trustworthy-models-for-corporate-media-transparent-background-free-png.png" alt="" width="200px" style="position: relative; left: -100px;">        
            </td>
            <td>
                <p class="m-5 d-none d-md-block d-xl-block font-weight-light" style="width: 350px; position: absolute; left: 350px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, quisquam rem ipsum veritatis magni sit exercitationem dignissimos error. Placeat omnis rem officia tempore autem illum ullam et enim, itaque neque?</p>
                <p class="d-sm-block d-md-none d-xl-none font-weight-light bg-dark" style="width: 1000px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae quos nemo aperiam asperiores consectetur soluta nulla non illum voluptate dolor dicta iure repellendus praesentium et, id facilis, aliquid dolore esse.</p>        
            </td>
        </tr>
     </div>
    <div class="col-12 col-xl-6" style="height: 400px;">
        <div class="container p-5 ml-xl-5">
            <h1>Contact Form:</h1>
            <form action="">
                <label for="email">Email</label>
                <input type="text" class="form-control">
                <label for="">Description</label>
                <textarea class="form-control" name="" id=""></textarea>
                <button class="btn btn-secondary mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer')%>